@import "../../App.scss";

.happy-hours-container {
  width: 97%;
  min-height: 300px;
  margin-top: 150px;
}
.happy-left-text1 {
  font-size: $font-sm;
  font-weight: $font-thin;
  color: $white;
}
.happy-left-text2 {
  font-size: 4rem;
  font-weight: $font-bolder;
  color: $white;
}
.happy-left-text3 {
  font-size: $font-sm;
  font-weight: $font-thin;
  color: $white;
}
.happy-right-text1 {
  font-size: $font-sm;
  font-weight: $font-semibold;
  color: $white;
}
.happy-right-text2 {
  font-size: $font-2xl;
  font-weight: $font-bold;
  color: $white;
}
.happy-right-text3 {
  width: 70%;
  font-size: $font-sm;
  font-weight: $font-semibold;
  color: $white;
}
.happy-hours-right {
  min-height: 200px;
  position: relative;
  margin-bottom: 10px;
}
.happy-hours-left {
  min-height: 200px;
  position: relative;
  margin-bottom: 10px;
}
.happpy-hours-button {
  width: 160px;
  background-color: $white !important;
  font-size: $font-lg;
  font-weight: $font-semibold;
  color: black;
  border: rgba($color: #000000, $alpha: 0);
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin-left: -10px;
}
.happpy-hours-button:hover {
  border: 1px solid $white !important;
  background-color: transparent !important;
  color: $white !important;
}
.happy-hours-image {
  width: 450px;
  position: absolute;
  top: -200px;
  left: 148px;
}
